body {
  background-color: lightgreen;
  text-align: center;
  font-family: "Georgia";
  color: rgb(48, 46, 46);
}

input {
  margin: 10px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: green;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #e0f0e0;
}

.back-btn {
  background-color: lightgreen;
  color: black;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
